
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset=" UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div class="container bg">

    <h2> Change Fruit for each day here</h2>
                <h2>
                    <table>
                        <tr th:each="op: ${day}">
                            <label> <td>[[${op.day}]]:--> [[${op.fruit.name}]] </label>
                            <button type="button" class="btn btn-info">
                                <h4><a th:href="@{/updatefruit/{id} (id=${op.id})}"> Update</a></h4>
                            </button>
                        </tr>
                    </table>
                </h2>


    <div th:replace="base :: footer"></div>
</div>
</body>
</html>